@import "tailwindcss";
@font-face {
    font-family: 'Coolvetica Condensed';
    src: url('/src/assets/font/Coolvetica Rg Cond.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Coolvetica Bold';
    src: url('/src/assets/font/Coolvetica Hv Comp.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'I';
    src: url('/src/assets/font/InstrumentSans.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.font-coolvetica {
    font-family: 'Coolvetica Condensed', sans-serif;
}

.font-coolvetica-bold {
    font-family: 'Coolvetica Bold', sans-serif;
}
.font-instrument {
    font-family: 'I', sans-serif;
}